<section>
    <div class="col-md-12 inline_menu">
        <div class="row menu">
            <h1 class="h1_title">
                Livraria Flip
                <i class="fa fa-arrow-left fa-lg text-right" aria-hidden="true" ui-sref="list" style="float:left;color:white;"></i>
            </h1>
        </div>
    </div>
</section>
<section class="container" >
    <div class="col-md-12">
        <div class="row ">
            <h3 class="text-center" style="color:#fff;">Carrinho</h3>
            <div style="overflow-x:auto;">

                <table>
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Sub Total</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="list in myObj">
                        <td>{{list.name}}</td>
                        <td>{{list.description}}</td>
                        <td>{{list.price | currency : "R$ "}}</td>
                        <td>
                            <span class="fa-stack fa-lg" ng-click="removeItem()">
                                <i class="fa fa-circle-thin fa-stack-2x" style="color: red;"></i>
                                <i class="fa fa-times fa-stack-1x fa-inverse" style="color: red;"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Sub Total:</th>
                        <th>{{getTotal() | currency : "R$ " }}</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</section>
