<section>
    <div class="col-md-12 inline_menu">
        <div class="row menu">
            <h1 class="h1_title">
                Livraria Flip
                <i class="fa fa-shopping-cart fa-lg text-right" aria-hidden="true" ng-click="salvarbooks()" style="float:right;color:white;"></i>
            </h1>
        </div>
    </div>
</section>

<section class="container">
    <div class="col-md-12 bg">
        <div class="row">
            <div class="col-md-4 position_card" ng-repeat="books in jsonbooks">
                <div class="card">
                    <h3 class="title_card">{{books.name}}</h3>
                    <div class="col-md-12 middle_card">
                        <div class="col-md-6">
                            <img  ng-src="{{books.thumb }}"/>
                        </div>
                        <div class="col-md-6 text-center">
                            <p class="card_description">
                                {{books.description}}
                            </p>
                            <p class="card_value">
                                  {{books.price | currency : "R$ "}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 card_buy" ng-class="{'selected': books.selected}"  ng-click="selectBooks(books)">
                        <p ng-if="!books.selected" class="border_buy" style="color:green;">Adicionar ao carrinho <i class="fa fa-check" aria-hidden="true"></i></p>
                        <p ng-if="books.selected" class="border_buy" style="color: red;">Remover item do carrinho <i class="fa fa-times" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
