body{
    color:white;
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 300px;
    height: auto;
    border: 3px solid #5c2e09;
    margin-bottom: 10%;
    background-color: #ffffff;
    opacity:  0.6;
    color:#333;
    border-radius:30px;
    font-weight: bold
}
.border_buy{
    border:1px solid #5c2e09;
    border-radius:8px;
    padding: 10px 20px;
}
.border_buy:hover{
    background-color: #5c2e09;
    border: 1px solid #5c2e09;
    color: #fff!important;
     transition: all .4s ;
}
.position_card{
    display: flex;
    justify-content: center;
}
.title_card{
    text-align: center;
    margin-bottom: 15%;
}
.middle_card{
    display: flex;
    align-items: center;
}
.card_buy{
    display: flex;
    justify-content: center;
    padding:20px 0 ;
    cursor: pointer;
    font-size: 17px;
}
.card_value{
    font-weight: bold;
    opacity: 1;
    color:black;
}
@media (max-width:760px) {
    body{
        background-repeat: initial;
        background-size: auto;
    }
}
