table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
    color: #111010;
}

td, th {
    border: 1px solid #5c2e09;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    background-color: #dddddd;
    opacity: 0.7;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media (max-width: 760px) {
.fa-arrow-left {
cursor: pointer!important;
margin-top: 30px;
font-size: 36px;
float: none!important;
display: flex;
justify-content: center;
}
}
