.menu {
    align-items: baseline;
    text-align: center;
    padding: 20px 90px;
}

.h1_title {
    border-bottom: 2px solid #5c2e09;
    padding-bottom: 30px;
    font-weight: bold;
    color: #fff;
}
.fa{
    cursor: pointer!important;
}

    @media (max-width: 760px) {
    .fa-shopping-cart {
    cursor: pointer!important;
    margin-top: 30px;
    font-size: 36px;
    float: none!important;
    display: flex;
    justify-content: center;
    }
}
